<!DOCTYPE html>
<html>
  <head>
    <title>honn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <header role="banner" class="header">
      <p><%= link_to "honn", "/" %></p>
    </header>
    <%= yield %>
  </body>
</html>
